@import url('https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body .nav {
  font-family: "Open Sans", sans-serif;
}

body .nav .nav-warper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1em;
}

body .nav .nav-warper img {
  height: auto;
  width: 177px;
}

body .nav .nav-warper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .nav .nav-warper ul li {
  margin-left: 3em;
  font-size: 1.2rem;
  cursor: pointer;
  color: #000;
}

body .nav .nav-warper ul li:hover {
  color: #0a065b;
}

body .nav .nav-warper ul li a {
  text-decoration: none;
  color: #000;
}

body .nav .nav-warper ul li a:hover {
  color: #0a065b;
}

/* body .form * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .form input[type=text],
body .form select,
body .form textarea {
  font-family: "Open Sans", sans-serif;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 16px;
  resize: vertical;
}

body .form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

body .form input[type=submit]:hover {
  background-color: #45a049;
}

body .form .form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

body .form .column {
  float: left;
  width: 50%;
  margin-top: 20px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
} */

body .parent {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

body .parent .back-img {
  position: relative;
  height: 80vh;
  width: 210vh;
}

body .parent .home-pic {
  position: absolute;
  top: -5px;
  float: right;
  left: 1050px;
  width: 440px;
}

body .parent .home {
  position: absolute;
  top: 180px;
  left: 100px;
  width: 630px;
}

body .parent .text {
  position: absolute;
  color: #0a065b;
  font-size: 1.5rem;
  margin-left: 170px;
  top: 20px;
  font-family: "Roboto", sans-serif;
}

body .sections .section1 {
  background-color: #D9E4EC;
  height: 350px;
  width: 70%;
  border-radius: 1%;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

body .sections .section1 h1 {
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

body .sections .section1 p {
  text-align: left;
  margin-left: 30px;
  margin-right: 500px;
  font-family: "Open Sans", sans-serif;
}

body .sections .section1 img {
  height: 350px;
  width: 350px;
  float: right;
  position: relative;
  top: -200px;
  left: -80px;
}

body .sections .section2 {
  background-color: #D9E4EC;
  height: 350px;
  width: 70%;
  border-radius: 1%;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

body .sections .section2 h1 {
  text-align: right;
  margin-right: 100px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

body .sections .section2 p {
  text-align: right;
  margin-right: 30px;
  margin-left: 500px;
  font-family: "Open Sans", sans-serif;
}

body .sections .section2 img {
  height: 300px;
  width: 330px;
  float: left;
  position: relative;
  top: -155px;
  right: -80px;
}

body .sections .section3 {
  background-color: #D9E4EC;
  height: 350px;
  width: 70%;
  border-radius: 1%;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

body .sections .section3 h1 {
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

body .sections .section3 p {
  text-align: left;
  margin-left: 30px;
  margin-right: 500px;
  font-family: "Open Sans", sans-serif;
}

body .sections .section3 img {
  height: 370px;
  width: 370px;
  float: right;
  position: relative;
  top: -300px;
  left: -80px;
}

body .sections .section4 {
  background-color: #D9E4EC;
  height: 350px;
  width: 70%;
  border-radius: 1%;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

body .sections .section4 h1 {
  text-align: right;
  margin-right: 60px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

body .sections .section4 p {
  text-align: right;
  margin-right: 30px;
  margin-left: 500px;
  font-family: "Open Sans", sans-serif;
}

body .sections .section4 img {
  height: 300px;
  width: 300px;
  float: left;
  position: relative;
  top: -160px;
  right: -80px;
}

body .sections .section5 {
  background-color: #D9E4EC;
  height: 350px;
  width: 70%;
  border-radius: 1%;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

body .sections .section5 h1 {
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

body .sections .section5 p {
  text-align: left;
  margin-left: 30px;
  margin-right: 500px;
  font-family: "Open Sans", sans-serif;
}

body .sections .section5 img {
  height: 360px;
  width: 360px;
  float: right;
  position: relative;
  top: -200px;
  left: -80px;
}

body .container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .container input[type=text],
body .container select,
body .container textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body .container input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

body .container input[type=submit]:hover {
  background-color: #45a049;
}

body .container .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

body .container .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

body .container .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {

  body .container .column,
  body .container input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

body #about h1 {
  text-align: center;
  padding: 5px;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

body #about p {
  text-align: center;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 100px;
}

body #about h3 {
  text-align: center;
  font-size: 1.5rem;
}

body .fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  float: left;
  left: -50px;
  margin: 20px;
  text-decoration: none;
  border-radius: 50%;
  display: flexbox;
}

body .fa:hover {
  opacity: 0.7;
}

body .fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: -10px;
}

body .fa-linkedin {
  background: #0077b5;
  color: white;
  margin-left: 20px;

}

body .fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left: 20px;

}

body footer {
  background: #0a065b;
  height: 80%;
}

body footer .footer-warper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #000;
  position: relative;
  overflow: hidden;
}

body footer .footer-warper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: -2%;
}

body footer .footer-warper p {
  padding-top: 20em;
}

body footer .footer-warper .flink {
  color: #fff;
  font-family: 'jost', 'sens-serif';
  top: 150px;
  padding: 80px;
  left: auto;
  right: auto;
  display: flexbox;

  
}

body footer .flogo {
  float: left;
  left: 50px;
  top: 20px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */